<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<connectionStrings>
		<add name="PostgresConnection"
         connectionString="Host=localhost;Port=5433;Username=postgres;Password=Nagato@10;Database=ManageProducts"
         providerName="Npgsql" />
	</connectionStrings>
</configuration>